<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar - Sublimoon</title>
    <link 
        rel="shortcut icon" 
        href="../../../assets/logotype.png" 
        type="image/x-icon"
    >
    <link rel="stylesheet" href="sign.css">
    <link rel="stylesheet" href="../../../global/global.css">
</head>
<body>
    <div id="root">
        <div class="sign-scene">
            <div class="sign-card">
                <div class="sign-card__face sign-card__face--front">
                    <a href="" class="logo">
                        <h1 class="logo__name">
                            <span>S</span><span>u</span><span>b</span><span>l</span><span>i</span><br>
                            <span>m</span><span>o</span><span>o</span><span>n</span>
                        </h1>
                    </a>
                    <div>
                        <p>Não tem uma conta?</p><a href="">Criar</a>
                    </div>
                </div>
                <div class="sign-card__face sign-card__face--back"></div>
            </div>
        </div>
    </div>

    <script src="sign.js"></script>
</body>
</html>