<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
    const requestOptions = {
    method: 'POST',
    headers:{'Content-Type':'application/x-www-urlencoded'},
    body: new URLSearchParams({
        grant_type: 'password',
        client_id: 'sublimoon',
        username: 'gabrielruizmb',
        password: 'user'
    }).toString()
};

const request = new Request(
    'http://192.168.56.101:8080/realms/development/protocol/openid-connect/token',
    requestOptions
);

async function login() {
    const response = await fetch(request);
    const responseJson = response.json();
    
    console.log(responseJson);
};

login();
    </script>
</body>
</html>